<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">

    <title>Article</title>

</head>
<body>

<div class="container" style="margin-top: 2%;">
    <h1>Add new keyword</h1>
    <br/>
    <form class="form-group" action="/keyword/savekeyword" method="post" th:object="${keyword}">

        <input type="hidden" th:field="*{keywordId}"/>

        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" th:field="*{name}"/>
            <br/><br/>
        </div>

        <hr/>
        <br/><br/>

        <button type="submit" class="btn btn-info"> Add</button>
        <a>
            <button class="btn btn-info" type="button">Back</button>
        </a>

    </form>
</div>
</body>
</html>