<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User info</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css">
<body>

<div th:insert="nav_bar :: navBarHeader"></div>

<div class="container mt-5">
    <h1>User info</h1>
    <table>
        <tr>
            <td class="mr-2 bigblock">First name: </td>
            <td th:text="${user.firstName}"/>
        </tr>
        <tr>
            <td class="mr-2 bigblock">Last name: </td>
            <td th:text="${user.lastName}"/>
        </tr>
        <tr>
            <td class="mr-2 bigblock">Email: </td>
            <td th:text="${user.email}"/>
        </tr>

    </table>
    <a th:href="@{'/homepage'}">
        <button class="btn btn-info" type="button">Back</button>
    </a>
    <a th:href="@{'/user/edit/' + ${user.userId}}">
        <button class="btn btn-success" type="button">Edit user</button>
    </a>
</div>
</body>
</html>